.project {
	padding: 1.25rem 0.9375rem;

	box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0.1875rem;

	transition: transform 0.3s ease 0.1s;
	@media (any-hover: hover) {
		&:hover {
			transition: transform 0.3s ease;
			transform: translate3d(0, -0.9375rem, 0);

			.title,
			.description {
				color: var(--primary);
			}
		}

		&.skeleton {
			transform: translate3d(0, 0, 0);
		}
	}
}

.link {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.previewWrapper {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 75%;
	background: #f3f3f3;
	border-radius: 0.1875rem;
	border: 1px solid var(--gray);
}
.preview {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title,
.title:active {
	margin: 0.625rem 0 0.3125rem;
	font-size: 1.375rem;
	color: var(--primary-text);
	transition: color 0.3s ease;
}

.description {
	line-height: 1.4;
	transition: color 0.3s ease;
}
