.project {
	position: relative;

	padding: 1.25rem 0.9375rem 3rem;

	box-shadow: 0 0 0.8125rem 1px rgba(0, 0, 0, 0.2);
	border-radius: 0.1875rem;

	transition: transform 0.3s ease 0.1s;
}

:global {
	.with-animate {
		:local {
			.project {
				opacity: 0;
				transform: translate3d(0, 0.9375rem, 0);
			}
		}
	}
}

.previewWrapper {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 75%;
	background: #f3f3f3;
	border-radius: 0.1875rem;
	border: 1px solid var(--gray);
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: 1;
		display: block;
		background: url("./glass.svg") center/60px no-repeat rgba(0, 0, 0, 0.7);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
	}

	@media (any-hover: hover) {
		&:hover {
			&::before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.preview {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}
}

.title,
.title:active {
	display: inline-block;
	margin: 0.625rem 0 0.3125rem;
	font-size: 1.375rem;
	color: var(--primary-text);
	transition: color 0.3s ease;
	text-decoration: none;

	@media (any-hover: hover) {
		&:hover {
			color: var(--primary);
		}
	}
}

.tags {
	line-height: 1.4;
	transition: color 0.3s ease;
}

.github {
	display: inline-block;
	margin: 0.5rem 0 0;
	color: var(--primary);
	text-decoration: none;

	@media (any-hover: hover) {
		&:hover {
			color: var(--primary-hover);
			text-decoration: underline;
			text-underline-offset: 0.25rem;
		}
	}
}

:global {
	.with-animate {
		.project-enter-done {
			opacity: 1;
			transform: translateX(0);
			transition: all 0.3s ease;
			&:nth-child(6n + 1) {
				transition-delay: 0.1s;
			}

			&:nth-child(6n + 2) {
				transition-delay: 0.2s;
			}

			&:nth-child(6n + 3) {
				transition-delay: 0.3s;
			}

			&:nth-child(6n + 4) {
				transition-delay: 0.4s;
			}

			&:nth-child(6n + 5) {
				transition-delay: 0.5s;
			}

			&:nth-child(6n + 6) {
				transition-delay: 0.6s;
			}
		}
	}
}

.footerLinks {
	position: absolute;
	bottom: 1.25rem;
	left: 0.9375rem;
	display: flex;
	align-items: center;
}

.footerLink {
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	flex: 0 0 1.25rem;
	margin-right: 0.4375rem;
	color: var(--primary-text);
	transition: color 0.3s ease;

	svg {
		object-fit: contain;
		max-width: 100%;
		max-height: 100%;
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--primary);
		}
	}
}
