@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--primary-text);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper > main {
	flex: 0 1;
	margin-top: auto;
}

.fade-in-up {
	opacity: 0;
	transform: translate3d(0, 0.9375rem, 0);
	transition: transform 0.4s ease, opacity 0.4s ease;
}
.fade-in-up-enter-done {
	opacity: 1;
	transform: translateZ(0);
	transition: transform 0.4s ease, opacity 0.4s ease;
}

// .scroll-direction-up .fade-in-up {
// 	transform: translate3d(0, -0.9375rem, 0);
// }
// .scroll-direction-up .fade-in-up-enter-done {
// 	transform: translateZ(0);
// }

// .scroll-direction-down .fade-in-up {
// 	transform: translate3d(0, 0.9375rem, 0);
// }
// .scroll-direction-down .fade-in-up-enter-done {
// 	transform: translateZ(0);
// }

.fade-in {
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.4s ease, opacity 0.4s ease;
}
.fade-in-enter-done {
	opacity: 1;
	visibility: visible;
	transition: visibility 0.4s ease, opacity 0.4s ease;
}
