.h1 {
	margin: 0;

	font-size: 4rem;
	font-weight: 500;
}

.h2 {
	margin: 0;

	font-size: 2.5rem;
	font-weight: 500;
}

.h3 {
	margin: 0;

	font-size: 1.25rem;
	font-weight: 600;
	line-height: 135%; /* 27/20 */
}
