.root {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	color: var(--white-text);

	@media (max-height: 470px) {
		min-height: 470px;
	}
}

.root::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.root::before,
.background {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.background {
	z-index: -2;

	object-fit: cover;
}

.h1 {
	margin-bottom: 1.5rem;
}
.h1,
.h2 {
	text-align: center;
}

.scroll {
	position: absolute;
	bottom: 1.875rem;
	left: 50%;

	width: 4.375rem;
	height: 5rem;

	transform: translate3d(-50%, -20px, 0);
}

.scroll svg {
	animation: bounce 1s infinite ease-in-out alternate;
}

@keyframes bounce {
	0% {
		transform: translate3d(0, -20px, 0);
	}
	100% {
		transform: translate3d(0, 20px, 0);
	}
}
